# Exclude logs
logs/*

# and configuration files
auto.json
auto.yml

# and databases
*.db

# and documentation suites
doc/*
.yardoc

# and temporary files likely made by rake
.temp.*

# and generated gems
*.gem

# and compiled [shared] objects
*.o
*.so

# and generated makefiles
Makefile

# and third-party logs
*.log

# and packages
pkg/*
